$star-animation-duration: 12;
$dark1: #161617;
$dark2: #727272;
$bright: #fff;
//$bright: linear-gradient(135deg, #295fd5, #9d8ce0);
$funky2: #adffdd;
$funky1: #9d8ce0;

@mixin create-star {
  top: random(101) - 1 + vh;
  left: random(101) - 1 + vw;
  opacity: random(100) * 0.01 + 0.1;
}

@keyframes animateStars {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 100vh, 0); }
}

.stars, .stratosphere {
    visibility: visible;
    position: fixed;
}
.stars{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.stratosphere {
  top: 0;
  bottom: 0;
  background-image: radial-gradient(ellipse at bottom, rgba($funky1, 1), rgba($dark1, 0.6) 48%);
}

.stars {
    $self: &;
  
    &--animated {
      #{$self}__rear,
      #{$self}__center {
        animation-name: animateStars;
        // chrome chokes on this animation when there's a large number of stars being animated so it's been toned down for performance
      }
    }
  
    &__star {
      &,
      &::after {
        position: absolute;
        z-index: -1;
        background-color: white;
        border-radius: 50%;
        width: 2px;
        height: 2px;
      }
  
      &::after {
        content: "";
        display: block;
        margin-top: -100vh;
      }
    }
  
    &__rear,
    &__center,
    &__front {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      animation: linear infinite;
    }
  
    &__rear {
      animation-duration: #{$star-animation-duration * 4}s;
  
      @for $i from 1 through 150 {
        #{$self}__star:nth-of-type(#{$i}) {
          @include create-star;
        }
      }
    }
  
    &__center {
      animation-duration: #{$star-animation-duration * 5}s;
  
      #{$self}__star {
        &,
        &::after {
          width: 5px;
          height: 5px;
        }
      }
  
      @for $i from 1 through 100 {
        #{$self}__star:nth-of-type(#{$i}) {
          @include create-star;
        }
      }
    }
  
    &__front {
      animation-duration: #{$star-animation-duration * 2}s;
      animation-delay: -#{$star-animation-duration * 1}s;
  
      #{$self}__star {
        &,
        &::after {
          width: 3px;
          height: 3px;
        }
      }
  
      @for $i from 1 through 50 {
        #{$self}__star:nth-of-type(#{$i}) {
          @include create-star;
        }
      }
    }
  }


  .noise
  {
    background-image: url('https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png');
    background-position: 0px 0px;
    background-size: 200px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-attachment: fixed;
  }

  .section
  {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-height: 100%;
    color: rgba(0, 0, 0, 0);
  }

  .section.one
  {
    background-color: $dark1;
  }

  .section.two
  {
    background: $bright;
    height: 160vh;
    background: transparent;
  }

  .section.tree
  {
    background: transparent;
    width: 100vw;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .section.four
  {
    background: transparent;
    margin-top: 300px;
    overflow: visible;
    width: 100%;
    margin-left: 0%;
    height: 70vh;
    z-index: 5;
  }


  .section.one::before
  {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    background: linear-gradient(to top, $bright, transparent);
    z-index: 10;
  }

  .montainsContainer
  {
    width: 100%;
    height: 100%;
  }

  .secondMontains
  {
    background: url("../assets/secondMontains.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .firstMontains
  {
    background: url("../assets/firstMontains.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .ground
  {
    background: url("../assets/ground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .profil
  {
    background: url("../assets/profil2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -600px;
    left: 100px;
    z-index: 4;
    width: 50%;
    height: 50%;
  }

.scrollDown
{
  color: black;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 45%;
  width: 10%;
  padding: 10px;
  z-index: 5;
  border: 1px solid black;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.Title
{
  position: absolute;
  z-index: 0;
  top: 45%;
  right: 100px;
  color: $funky1;
  font-size: 50px;
  //font-family: 'Lacquer', cursive;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 3px 3px 0px  $bright;
}

.moune
{
  position: absolute;
  overflow: hidden;
  padding: 20px;
  right: 45%;
  top: -110px;
  z-index: 3;
  backdrop-filter: blur(3px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $bright;
  display: flex;
  justify-content: center;
  align-items: center;
}


//a bouger
.containerScrollHorizon {
  z-index: 99;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  padding-top: 20px;
  transform: translateX(0%);
  backdrop-filter: blur(4px);
  font-family: 'Saira', sans-serif;
}

.containerScrollHorizon span
{
  white-space: pre;
}

.textScroll {
  color: $bright;
  font-size: 20px;
  white-space: nowrap;
  animation: scrollTxt 90s linear infinite;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

//a bouger
.presentationContainer
{
  width: 700px;
  height: 600px;
  text-align: start;
  font-family: 'Saira', sans-serif;
  position: fixed;
  z-index: 99;
  font-size: 30px;
  color: $dark1;
}

#textWrite strong
{
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px $dark2;
  color:$funky1;
}

#textWrite h1
{ 
  font-size: 30px;
}


#textWrite p
{
  color: $dark1;
  font-size: 20px;
}

//hardSkills
.hardSkills
{
  color: $funky1;
  position: absolute;
  width: 60%;
  z-index: 7;
  height: 600px;
}

.hardSkillsContainer
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  text-shadow: 5px 5px 0px $dark2;
}

.logo
{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: grayscale(100%);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid $dark2;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  z-index: 15;
}

.logo:hover
{
  filter: grayscale(0%);
  background-color: $bright;
}

.section.four h1
{
  color: $funky1;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-shadow: 5px 5px 0px $dark2;
  margin: 30px;
  position: absolute;
  top: -150px;
  left: 35%;
}

.projectsContainer
{
  
  height: 60vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.card
{
  width: 15vw;
  height: 50vh;
  background-position: center;
  background-size:cover;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  filter: grayscale(100%);
}



.contactContainer
{
  position: absolute;
  overflow: hidden;
  padding: 20px;
  left: 20%;
  top: 480vh;
  z-index: 1;
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.contact
{
  background: $bright;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
